<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>point0.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,355},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,302},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point10.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,249},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,461},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,408},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,355},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point14.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,302},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point15.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,249},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point16.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,202},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point17.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,190},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point18.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,190},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point19.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,190},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,190},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point20.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,190},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point21.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,414},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point22.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,361},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point23.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,308},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point24.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,255},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point25.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,202},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point26.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,149},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point27.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,143},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point28.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,143},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point29.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,143},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,143},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point30.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,143},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point31.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,143},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point32.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,96},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point33.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,96},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point34.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,96},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point35.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,96},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point4.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,96},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,96},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point6.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,96},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,414},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,361},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,308},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,255},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,202},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,149},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,49},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,49},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,49},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,49},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,49},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,49},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,49},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,420},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,367},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,314},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,261},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,208},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,155},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,102},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,49},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>point_h_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>point.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b963f98f153d670301640a7ba0ce500$</string>
            <key>textureFileName</key>
            <string>point.png</string>
        </dict>
    </dict>
</plist>
